/**
 * @description 启动 __APP_NAME__
 *
 * 单一职责：仅启动 App，返回最小验证信息（top_activity + foreground）。
 * 任何页面 introspection（dump / visible_texts / 登录态）都归 `state` 命令。
 */

'use strict';

const pb = require('@phonebase-cloud/pb');
const { PACKAGE, sleep, isForeground, finish, fail } = require('./_lib.js');

async function main() {
  await pb.launch(PACKAGE);
  await sleep(2500);

  const top = await pb.topActivity();
  finish({
    top_activity: top,
    foreground: isForeground(top),
  });
}

main().catch((err) => fail(err, 'open'));
